h5 {
    font-weight: 400;
}

div {
    font-size: 14px;
}

.sub-header-text {
    font-size: smaller;
}

.card-header {
    font-weight: bold;
}

.header {
    margin-top: 20px;
}

.weather-time {
    background-color: lightgray;
}

.best-wind {
    font-size: x-small;
    background-color: green;
    color: white;
}

.sub-info {
    padding-left: 25px;
}

.search {
    padding-bottom: 30px;
}

.mat-expansion-panel {
    width: 550px;
}

.mat-expansion-panel-header {
    font-weight: 500;
}

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover,
.mat-expansion-panel-header.mat-expanded:focus {
    background-color: lightgray;
}

.mat-expansion-panel-header-title {
    display: block;
    text-align: center;
}

.mat-panel-title {
    font: bold;
}

.mat-accordion .mat-expansion-panel{
    margin-bottom: 10px;
  }